@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script&family=DynaPuff&family=Gloria+Hallelujah&family=Josefin+Sans:wght@500&family=Lobster+Two:ital,wght@1,700&family=Playfair+Display:ital,wght@1,500&family=Poppins:ital,wght@1,200&family=Raleway:wght@700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: url(/Assets/pizza-dibujito.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-color: black;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 60px;
}

.container-pizza {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	gap: 30px;
	background-color: aliceblue;
	border: 2px solid green;
	border-radius: 20px;
}

#pizza-error {
	color: red;
	font-size: 60px;
}

.title-pizza {
	font-size: 80px;
	color: red;
	font-family: 'Raleway';
	text-align: center;
}

#img {
	width: 300px;
	border-radius: 8px;
}

.price-pizza {
	font-size: 30px;
	color: red;
	font-family: 'poppins';
}

.ing-pizza {
	color: red;
	max-width: 400px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.number {
	display: flex;
	flex-direction: column;
}

.number label {
	color: rgb(0, 0, 0);
	font-size: 22px;
	margin-bottom: 5px;
	font-family: 'Poppins';
	text-align: center;
}

.number input {
	width: 300px;
	height: 30px;
	border-radius: 8px;
	border: none;
	text-align: center;
	color: rgb(54, 193, 54);
}

input[type='submit'] {
	background-color: red;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Poppins';
	font-weight: 800;
	font-size: 18px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	outline: none;
}
